$bg-empresa1: #592e0b;
$bg-empresa2: #20c997;
// BARRA DE NAVEGACION
header {
  padding: 5px;
  background-color: $bg-empresa1;
  .img {
    margin-left: 20px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }

  .nombre-empresa {
    margin-left: 20px;
    padding-top: 15px;
  }
  .navbar-collapse {
    float: left;
    padding-top: 15px;
  }
  .nav-item {
    text-transform: uppercase;
    margin-right: 1.5em;
    &:hover {
      font-size: 1.2em;
      text-decoration: underline #fff;
    }
  }
  .persona {
    padding-top: 20px;
    li {
      float: left;
      font-size: 2em;
      list-style-type: none;
      i {
        margin-left: 0.8em;
      }
    }
  }
  #login {
    .rec-contra {
      margin-left: 20px;
      a {
        margin-right: 40px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .nombre-empresa {
    display: none;
  }
}

//Estilo general de los modales
.modal-content {
  .modal-header {
    background-color: $bg-empresa1;
    img {
      border-radius: 50%;
      margin-right: 10px;
    }
    h3 {
      color: #fff;
    }
  }

  .modal-footer {
    background-color: $bg-empresa2;
  }
}




/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}



//Estilos para el Footer
footer {
  /*Color de fondo*/
  background-color: $bg-empresa1;
  /*Estilo de los enlaces*/
  ul {
    li {
      list-style: none;
      display: block;
      a {
        font-size: 0.8em;
        color: #fff;
        text-decoration: none;
        &:hover {
          color: yellow;
          font-size: 1.1em;
        }
      }
    }
  }
  #contenedor-1 {
    #logo-footer {
      margin-left: 35px;
      border-radius: 50%;
    }
  }
  .certificados {
    display: inline-flex;
  }
  #contenedor-4 {
    font-size: 0.9em;
    color: #fff;
    p {
      margin-left: 20px;
    }
    //Enlaces redes sociales
    a {
      font-size: 0.9em;
      color: #fff;
      text-decoration: none;
      i {
        display: inline;
        font-size: 2em;
        margin: 0 10px;
        &:hover {
          color: #000;
        }
      }
    }
  }
}
